/* Error: Function finished without @return.
 *    ,
 * 32 | / @function set-text-color($color) {
 * 33 | |   
 * 34 | \ }
 *    '
 *   scss\_config.scss 32:1  set-text-color()
 *   scss\main.scss 12:10    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Function finished without @return.\a    \2577 \a 32 \2502  \250c  @function set-text-color($color) {\a 33 \2502  \2502    \a 34 \2502  \2514  }\a    \2575 \a   scss\\_config.scss 32:1  set-text-color()\a   scss\\main.scss 12:10    root stylesheet";
}
